.container {
  margin: 20px;
}
  
.nasa-item {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 80px; /* Ajusta aquest valor segons sigui necessari */
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 80%;
}
