<!-- src/app/nasa-data/nasa-data.component.html -->
<div class="container">
  <h2>Imatges dels darrers 30 dies</h2>

  <!-- Paginació -->
  <div class="pagination">
    <button class="nav-button" (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span> Pàgina {{ currentPage }} de {{ totalPages }} </span>
    <button class="nav-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Següent</button>
  </div>

  <div *ngIf="nasaData.length > 0; else noData" class="nasa-grid">
    <div *ngFor="let item of nasaData" class="nasa-item">
      <h3>{{ item.title }}</h3>
      <img [src]="item.url" alt="{{ item.title }}" width="100%">
      <p>{{ item.explanation }}</p>
    </div>
  </div>

  <ng-template #noData>
    <p>No hi ha dades disponibles en aquest moment.</p>
  </ng-template>
</div>
